BOT_TOKEN=put_your_token_here

# Опционально: источники погоды
METAR_URL_TEMPLATE=https://tgftp.nws.noaa.gov/data/observations/metar/stations/{icao}.TXT
TAF_URL_TEMPLATE=https://tgftp.nws.noaa.gov/data/forecasts/taf/stations/{icao}.TXT
VATSIM_METAR_URL_TEMPLATE=https://metar.vatsim.net/metar/{icao}
VATSIM_TAF_URL_TEMPLATE=https://metar.vatsim.net/taf/{icao}




